@import "../../global.scss";

.testimonials{
  background-color: $mainColor;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mobile{
    justify-content: space-around;
    
  }

  h1{
    font-size: 50px;
    color: $filler;
    overflow: hidden;

    @include mobile{
      font-size: 20px;
    }
  }

  .container{
    width: 90vw;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;

    @include tablet{
      flex-direction: column;
      height: 100%
    }

    @include mobile{
      flex-direction: column;
      height: 100%
    }

    .card{
      width: 90vw;
      height: 90%;
      border-radius: 10px;
      box-shadow: 0px 0px 15px -8px black;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 10px;
      transition: all 1s ease;
      background-color: $filler;
      overflow: hidden;

      @include tablet{
        height: 240px;
        width: 88vw;
        margin: 10px 0px;
        padding: 5px;
      }

      @include mobile{
        height: 240px;
        width: 88vw;
        margin: 10px 0px;
      }

      &.featured{
        width: 90vw;
        height: 95%;
        margin: 0 30px;

        @include tablet{
          width: 88vw;
        height: 180px;
        margin: 1px;
        }

        @include mobile{
          width: 88vw;
        height: 180px;
        margin: 1px;
        }
      }

      &:hover{
        transform: scale(1.1);
      }

      .top{
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        img{
          &.left,&.right{
            height: 25px;
          }
          &.user{
            height: 130px;
            width: 130px;
            border-radius: 50%;
            object-fit: cover;
            margin: 0 30px;

            @include tablet{
              height: 60px;
              width: 60px;
            }

            @include mobile{
              height: 40px;
              width: 40px;
            }
      
          }
        }

      }
      .center{
        padding: 10px;
        border-radius: 10px;
        background-color: $secondary;
        overflow: hidden;

        @include tablet{
          font-size: 12px;
          padding: 5px;
        }

        @include mobile{
          font-size: 12px;
          padding: 5px;
        }
      }
      .bottom{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        h3{
          margin-bottom: 5px;

          @include tablet{
            font-size: 14px;
          }
          
          @include mobile{
            font-size: 14px;
          }
        }
        h4{
          color: gray;

          @include tablet{
            font-size: 13px;
          }

          @include mobile{
            font-size: 13px;
          }
        }
      }

    }
  }
}