$mainColor: #5c0913;

$filler: #f6efe0;

$primary: #fcda3f;

$accent: #fc3f81;

$secondary: #eacca2;


$mobWidth: 480px;
$tabWidth: 768px;

@mixin tablet {
  @media (max-width: #{$tabWidth}){
    @content
  }
}

@mixin mobile {
  @media (max-width: #{$mobWidth}){
    @content
  }
}